/*  general styles */

body {
  font-family: "Poppins", "Roboto", sans-serif;
}

/* For Webkit-based browsers (Chrome, Safari) */

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

a {
  color: inherit;
}

.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.line-container .line {
  border-bottom: 1px solid #e74d61;
}

.line1 {
  width: 75px;
}

.line2 {
  width: 160px;
}

h2 {
  font-family: "Poppins", "sans-seri" !important;
  font-weight: 700 !important;
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}
/*  start nav*/

nav {
  font-size: 17px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(/pics/header-bg2.svg),
    linear-gradient(45deg, rgb(255 255 255 / 0%) 22%, rgb(196 123 82 / 0%) 100%),
    url(/pics/nav-bg.jpg);
  background-size: cover, cover;
  background-position: center, 0% 0%, center;
  background-repeat: no-repeat, repeat, repeat-y;
  transition: opacity 0.3s ease;
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/pics/header-bg2.svg),
    linear-gradient(45deg, rgb(255 255 255 / 0%) 22%, rgb(196 123 82 / 0%) 100%),
    url(/pics/nav-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: -1;
}

nav.transparent-bg {
  background-image: none;
}

nav.transparent-bg::before {
  opacity: 0;
}

.navbar-brand {
  color: white !important;
}

nav .navbar-nav li a {
  color: white !important;
  transition: all 0.3s ease-in-out;
}

nav .navbar-nav li a:hover {
  color: black !important;
  /*background-color: #198754;*/
}

.active {
  border-bottom: solid 2px #000000;
}

.active a {
  color: black !important;
  transition: 0ms;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.visible {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

/*  end nav*/

/* ---- particles.js container ---- */

/*#particles-js {
    width: 100%;
    height: 800px;
    background-color: #ffffff;
    background-image: url();
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
*/

#header-bg {
  width: 100%;
  height: 1000px;
  background-color: #ffffff;
  background-image: url(/pics/header-bg2.svg),
    linear-gradient(45deg, rgb(255 255 255 / 0%) 22%, rgb(196 123 82 / 0%) 100%),
    url(/pics/header-bg.JPG);
  background-size: cover, cover;
  background-position: center, 0% 0%, center;
  background-repeat: no-repeat, repeat, repeat-y;
}

/*  start header*/

header {
  text-align: center;
  color: black;
  position: relative;
  overflow: hidden;
  font-family: "Bai Jamjuree", "sans-serif";
}

header .title img {
  max-width: 19%;
}

header .text-holder {
  color: black;
  position: absolute;
  top: 58%;
  right: 50%;
  transform: translate(50%, -50%);
  max-width: 600px;
  padding: 2em 3em;
}

header .h2 {
  color: white;
  letter-spacing: 0.4rem;
  width: calc(100% + 0.4rem);
  font-size: 1.375em;
  line-height: 1.875;
  font-weight: 400;
}

header p {
  color: white;
  letter-spacing: 1.15rem;
  width: calc(100% + 1.15rem);
  font-size: 4.375em;
  line-height: 1.125;
  font-weight: 400;
}

header .arrow-bg {
  width: 45px;
  height: 45px;
  background-color: #ffffff43;
  margin: 0 auto;
}

header .arrow-down {
  transform: scale(0.5);
}

header .arrow-down:hover {
  cursor: pointer;
}

/*
header .datacamp {
    color: #0072b1;
}
.datacamp:hover {
    text-decoration: underline;
}
*/

@media (max-width: 575px) {
  header .text-holder {
    max-width: none;
  }
  header p {
    font-size: 2.375em;
  }
}

/*  end header*/

/*  start about-me*/

.about-me {
  background-color: #111111;
  color: white;
}

.about-me .bg-holder {
  background-color: #111111;
  border-radius: 15px;
  padding-bottom: 3rem;
  box-shadow: 0px 0px 14px -1px rgba(255, 255, 255, 0.82);
}

.about-me-img-holder {
  position: relative;
  display: inline-block;
}

.img-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}

#about-me .hvr-sweep-to-top:before {
  background: rgb(0 0 0 / 50%);
  border-radius: 15px;
  transition-duration: 0.5s;
}

.about-me-img-holder .icons {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: top 0.5s ease-in-out;
  opacity: 0;
}

.about-me-img-holder .icons.about-me-active {
  top: 52%;
  opacity: 1;
  display: block;
}

.about-me-img-holder .icons {
  display: none;
}

.about-me-img-holder .icons .linkedin,
.about-me-img-holder .icons .twitter {
  font-size: 22px;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
}

.about-me .icons .tableau {
  max-width: 26px;
  background-color: transparent;
  border: none;
  padding: 5px 0 0 0 !important;
}

.about-me-img-holder .icons .linkedin:hover,
.about-me-img-holder .icons .twitter:hover {
  color: #e74d61;
  background-color: transparent;
  border: none;
}

.about-me-img-holder .icons .tableau:hover {
  background-color: #e74d61;
  border: none;
}

.line-holder .fa-address-card {
  font-size: 30px;
}

.about-me-line {
  background-color: #ffffff;
  height: 2px !important;
  width: 100%;
  margin: auto;
}

.about-me .line-holder img {
  max-width: 5%;
}

.about-me-photo {
  border-radius: 15px;
}

.hire-me,
.show-cv {
  position: relative;
  border: 1px solid #e74d61;
  background-color: #e74d61;
  color: white;
  padding: 13px 22px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
}

.hire-me:hover,
.show-cv:hover {
  background-color: #e74d61;
  color: white;
}

.hire-me::before,
.show-cv::before {
  content: "";
  position: absolute;
  top: 3.25px;
  left: 3px;
  width: 34%;
  height: 84%;
  background-color: #fde6e9;
  border-radius: 11px;
  opacity: 0.5;
  transition: all 0.6s ease-in-out;
}

.hire-me:hover::before {
  left: 84px;
}

.show-cv:hover::before {
  left: 77px;
}

.hire-me .fa-arrow-right-long {
  transition: all 0.4s ease-in-out;
}

.hire-me:hover .fa-arrow-right-long {
  padding-left: 1.3rem !important;
}

.about-me .text {
  font-size: 20px;
  line-height: 1.7;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .about-me-holder {
    max-width: 50%;
    margin-left: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1199.9px) {
  .about-me .col-left {
    margin-top: 10%;
    align-self: start !important;
  }
}

@media (min-width: 991.9px) {
  .about-me .bg-holder {
    padding-bottom: 7rem;
  }
  .about-me .bio {
    position: absolute;
    top: 12%;
    left: 80.5%;
    width: 320px;
    line-height: 0.5;
    font-size: 16px;
    z-index: 999;
  }
}

@media (max-width: 576px) {
  .about-me .bio {
    font-size: 13px;
  }
  .bio-text {
    padding-left: 1px !important;
  }
}

.bio {
  text-align: left;
  background-color: #e74d61;
  border-radius: 15px;
}

.bio p:nth-of-type(1),
.bio p:nth-of-type(3),
.bio p:nth-of-type(5),
.bio p:nth-of-type(7),
.bio p:nth-of-type(9),
.bio p:nth-of-type(11) {
  font-size: 14px;
}

.bio p:nth-of-type(2),
.bio p:nth-of-type(4),
.bio p:nth-of-type(6),
.bio p:nth-of-type(8),
.bio p:nth-of-type(10) {
  font-weight: 600;
  border-bottom: 1px white dashed;
}

.bio p:nth-of-type(12) {
  font-weight: 600;
}

.about-me .bio {
  line-height: 0.5;
}

/*  end about-me*/

/*  start services*/

#services {
  background-color: #111111;
  color: white;
}

#services .card {
  background-color: #111111;
  border: 0px;
}

#services .hvr-glow:hover {
  box-shadow: 0px 0px 10px -1px rgba(255, 255, 255, 0.82);
}

@media (max-width: 767px) {
  #services .card img {
    margin: 0px 40% !important;
  }
  #services .col {
    max-width: 388px;
    margin: 5px auto;
  }
}

/*  end services*/

/* start portfolio */

#portfolio {
  background-color: #111111;
}
#portfolio .project {
  background-color: #10101a;
  border: 1px solid #fffcff1a;
  border-radius: 15px;
  margin-bottom: 5vh;
}

#portfolio h2 {
  color: white;
}

#portfolio .btns {
  background-color: white;
  display: inline-block;
  border-radius: 30px;
  transform: translateX(0);
}

.hover-btn-bg {
  position: absolute;
  margin: 3.31px;
  height: 45px;
  width: 148px;
  background-color: black;
  left: 0;
  top: 0;
  border-radius: 30px;
  z-index: -1;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

#portfolio .btn {
  border-radius: 30px;
  border: none;
  color: black;
}

#portfolio .active-btn {
  color: white;
}

#portfolio .project .image img {
  border-radius: 15px;
}

#portfolio .fa-arrow-right {
  color: #e74d61;
}
.Btn {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -75px;
  right: 13px;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: white;
  /* mix-blend-mode: screen; */
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 9px;
  /* set background to white and green with gradient hotizontal  */
}

/* text */
.Btn .text {
  opacity: 0;
  color: #10101a;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

/* hover effect on button width */

.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}
.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
#portfolio .project:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

#portfolio .project:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
#portfolio .project:hover .Btn {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

#portfolio .project-header,
#portfolio .project-content {
  color: white;
}
#portfolio .project-header {
  font-size: 30px;
  font-weight: 600;
}
#portfolio .project-content {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
#portfolio .read-more {
  color: white;
  font-size: 20px;
  padding: 0;
}
.read-more span:hover {
  color: #e74d61;
  transition: all 0.4s ease-in-out;
}
.hvr-underline-from-left::before {
  right: 53%;
  background: #e74d61;
}
.link-survey-project {
  color: blue;
}

.link-survey-project:hover {
  text-decoration: underline;
  color: blue;
}

#portfolio .carousel {
  max-width: 80%;
}

#portfolio .modal img {
  max-width: 70%;
}

#portfolio .modal img,
#portfolio .carousel {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
@media (min-width: 992px) {
  #portfolio .projects-holder {
    padding: 10vh !important;
  }
}
@media (max-width: 767.9px) {
  #portfolio .hover-btn-bg {
    display: none;
  }
  #portfolio .btns .btn:hover {
    background-color: black;
  }
  #portfolio .active-btn {
    color: white;
    background-color: black;
  }

  .Btn {
    background-color: black;
    border: 4px solid white;
  }
  .sign {
    background: black !important;
  }
  .Btn .text {
    color: white;
  }
  #portfolio .fa-arrow-right {
    margin-left: 10px;
  }
}

/* end portfolio */

/*  start contact*/

.contact {
  background-color: #111111;
  padding-left: 5rem;
  padding-right: 6rem;
}

@media (min-width: 767.9px) {
  .contact {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.contact .first,
.contact .sec {
  font-family: "poppins", sans-serif;
  font-size: 90px;
  color: white;
  position: relative;
  font-weight: 500 !important;
  /* transition: transform 0.5s ease-in-out; */
}

.sec {
  padding-bottom: 5rem;
}

.contact .row-padding {
  padding-top: 7rem;
}

.contact .C {
  width: 45px;
  height: 45px;
  background-color: #ffffff43;
  margin: 0 auto;
}

.contact .text {
  color: white;
  font-size: 16px;
}

.contact h2 {
  color: #e74d61;
  font-size: 56px;
  font-weight: 900 !important;
}

.contact .arrow-bg {
  width: 45px;
  height: 45px;
  background-color: #ffffff43;
  margin: 0 auto;
}

.contact .arrow-down {
  transform: scale(0.5);
}

.contact .arrow-down:hover {
  cursor: pointer;
}

#get-touch {
  padding-top: 9rem;
}

.contact .title-bg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.contact .title-bg span {
  font-size: 110px;
  letter-spacing: 10px;
  line-height: 3.23;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.07);
}

.contact h2 {
  position: relative;
  top: 1px;
}

.contact p {
  color: rgb(182, 182, 182);
  margin: 0;
}

.contact a {
  color: white;
}

.contact .fa-envelope {
  font-size: 38px;
  margin-top: auto;
}

.contact .fa-phone {
  font-size: 30px;
  background-color: #e74d61;
  border-radius: 8px;
  padding: 2px;
  margin-top: auto;
  margin-bottom: 4px;
}

.icons .twitter,
.icons .linkedin {
  color: white;
  font-size: 29px;
  width: 40px;
  height: 40px;
  background-color: #2b2a2a;
}

.icons .twitter:hover {
  background-color: #1da1f2;
}

.icons .linkedin:hover {
  background-color: #0072b1;
  border: #0072b1 solid 2px;
}

.icons .linkedin:hover {
  background-color: #0072b1;
  border: #0072b1 solid 2px;
}

.icons .tableau:hover {
  background-color: #21467f;
  border: #21467f solid 2px;
}

.icons .twitter:hover,
.icons .linkedin:hover,
.icons .tableau:hover {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.icons .linkedin {
  font-size: 25px;
  background-color: #2b2a2a;
  border: #2b2a2a solid 2px;
}

.icons .tableau {
  max-width: 42px;
  margin-bottom: 27px;
  background-color: #2b2a2a;
  border: #2b2a2a solid 2px;
}

.contact .contactform input[type="text"],
.contact .contactform input[type="email"] {
  border: 1px solid #111;
  width: 100%;
  background: #252525;
  color: #fff;
  padding: 11px 26px;
  margin-bottom: 29;
  border-radius: 30px;
  outline: none !important;
  transition: 0.3s;
}

.contact .contactform textarea {
  border: 1px solid #111;
  background: #252525;
  color: #fff;
  width: 100%;
  padding: 12px 26px;
  margin-bottom: 20px;
  height: 160px;
  overflow: hidden;
  border-radius: 30px;
  outline: none !important;
  transition: 0.3s;
}

.button:before,
.button-icon {
  background-color: #e74d61;
}

.button:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: 0.3s ease-out all;
}

.contact .button {
  border: 1px solid #e74d61;
  overflow: hidden;
  display: inline-block;
  line-height: 1.4;
  border-radius: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: 250ms all;
  text-transform: uppercase;
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  padding: 16px 70px 16px 35px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  outline: none !important;
}

.contact .contactform input[type="text"]:focus,
.contact .contactform input[type="email"]:focus,
.contact .contactform textarea:focus,
body.light.contact .contactform input[type="text"]:focus,
body.light.contact .contactform input[type="email"]:focus,
body.light.contact .contactform textarea:focus,
.blog .page-item.active .page-link,
.blog .page-link:hover,
.button {
  border: 1px solid #e74d61;
}

.contact .button:hover {
  background-color: #e74d61;
}

.button .button-text {
  position: relative;
  z-index: 2;
  color: #fff;
  transition: 0.3s ease-out all;
}

.button-icon {
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: 0;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: #ffffff;
  border-radius: 50%;
}

.contact .contactform .form-message {
  margin: 24px 0;
}

#message-sent,
#sending {
  display: block;
  color: #fff;
  line-height: 46px;
  border-radius: 15px;
  font-size: 26px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

#message-sent {
  background-color: #2ecc71;
}

#sending {
  background-color: #dd8622;
}

@media (max-width: 575.9px) {
  .contact .first,
  .contact .sec {
    font-size: 50px;
  }

  .contact .title-bg span {
    font-size: 70px;
    line-height: 4.78;
  }
  .contact h2 {
    font-size: 37.5px;
  }
}

@media (min-width: 576px) and (max-width: 767.9px) {
  .contact-title {
    margin-left: 0rem !important;
  }
  .contact .first,
  .contact .sec {
    font-size: 65px;
  }
  .contact .title-bg span {
    font-size: 90px;
    line-height: 3.8;
  }
  .contact h2 {
    font-size: 46px;
  }
}

/* end contact */

/* adjustment for media query 400px or low */
@media (max-width: 460px) {
  header .text-holder {
    padding: 0;
  }
  header .text-holder p:nth-child(2) {
    font-size: 25px;
  }
  .hire-me,
  .show-cv {
    margin: auto !important;
    margin-bottom: 1rem !important;
  }
  .about-me-btn-holder {
    display: block !important;
  }
  .contact .title-bg span {
    font-size: 44px;
    line-height: 7.38;
  }
  .contact h2 {
    font-size: 26.5px;
  }
  .contact .email-me,
  .contact .whatsapp-me a {
    font-size: 15px;
  }
}
/* BACK TOP BUTTON */
.back-top {
  display: flex;
  justify-content: start;
}

.back-top button {
  width: 150px;
  height: 50px;
  margin: 20px;
  color: white;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-top button p {
  color: #fff !important;
}

.back-top button p:before,
.back-top button p:after {
  position: absolute;
  width: 100%;
  transition: all 0.1s cubic-bezier(0.35, 0.1, 0.25, 1);
  z-index: 1;
  left: 0;
}

.back-top button p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
}

.back-top button p:after {
  content: attr(data-text);
  top: 150%;
  color: #ffffff;
}

.back-top button:hover p:before {
  top: -50%;
  transform: rotate(5deg);
}

.back-top button:hover p:after {
  top: 50%;
  transform: translateY(-50%);
}
.back-top button .fa-chevron-up {
  position: absolute;
  left: 0px;
}
